*{
    box-sizing: border-box;

}

body{

    border: 3px solid red;
}




@media  (max-width: 767px) {

    body{

        background-color: black;

        border: 3px solid red;
    }


    .main-footer{

        flex-wrap: wrap;

      
    
    }

    .main-footer> div:nth-child(1){

        width: 10%;

       
    }

    header{

        background: url("apu.jpg");

        background-size: cover;

        background-position: center center;

        text-align: center;

       flex-direction: column;

       
        
    }

    


    header section:nth-child(1){

        background-color:blueviolet;

      
        
    }



   header section:nth-child(1)> h1{
        background-color: transparent;
    
        color: aqua;    

        text-align: center;
     
       
    }
    


    header section:nth-child(1) p{

        text-align: center;
    
        background-color:transparent;

        font-size: 1.2rem;

        width: 80%;

        margin: 10px auto;
        
    }
    
    
    header section:nth-child(1)> div{


        flex-direction: column;
    
        background-color: transparent;
    
        padding: 0.5em;

        
    }




    header section:nth-child(2){
     
        display: none;

    }

    header figure{

        display: none;
    }



}








/*COMIENZO HEADER*/

header{
    display: flex;

    background-color: chocolate;
    
    padding: 0;

    flex-wrap: wrap;
}


header section:nth-child(1){

    width: 70%;

   background-color: darkgoldenrod;
}

h1{
    background-color: darkblue;

    text-transform: uppercase;

    text-align: center;

    font-size: 4em;

    margin: 0;
}


header section:nth-child(1) p{

    text-align: center;

    background-color: crimson;

    font-size: 1.2rem;
    
}

.span-1{

    text-transform: uppercase;

    font-weight: bold;
}

header section:nth-child(1) div{

    display: flex;

    justify-content: space-between;

    align-items:center ;

    background-color: cornflowerblue;

    padding: 0.5em;
}

.bebidas{

    margin-left:0 ;

    margin-right: 0;

    width: 30%;
}

.bebidas img{

    max-width: 100%;

    border-radius: 5%;
}



.span-2{
    border-radius: 50%;
   
    border:2px solid black;
   
    padding: .7em;

    text-align: center;

    font-size: 1.2rem;
}

h2{

    text-transform: uppercase;

}

header section:nth-child(2){

    width: 30%;

    display: flex;

    align-items: center;

    justify-content: center;
}


header section:nth-child(2) figure img{

    border-radius: 25%;
}


/*FIN HEADER*/


/*COMIENZO MAIN*/

main{

    background-color: blue;

}

/*comienzo main lista*/

main section:nth-child(2){

    background-color: red;

    width: 90%;

    margin: auto;
}

main section ol{

    display: flex;

    justify-content: space-evenly;
}


.lista-1{

    background-color: darkgreen;

}


.lista-2{

    background-color: yellow;
}


.lista-3{

    background-color:darkorange;

}


ol .lista-1 li, .lista-2 li, .lista-3 li{

   padding: 0.35rem ;
    
}


/*fin main lista*/


main section:nth-child(3){

    background-color: brown;
}

/*comienzo main footer*/

.main-footer{

    display: flex;

}

.main-footer div:nth-child(1){

    display: flex;

    flex-direction: column;

    width: 70%;

    background-color: yellow;

    text-align: center;

    padding: 0;

    border: 0.2rem solid black;

    margin-right: 0.06rem;

    margin-left: 0.06rem;
}

.main-footer div:nth-child(1) h3{

    font-size: 1.56em;

    text-transform: uppercase;

    margin-bottom: 0.31rem;

}


main section:nth-child(3) div p{

    background-color: chartreuse;

    margin-bottom: 0.625rem;

    line-height: 1.5rem;
}


.main-footer div:nth-child(1) h4{

    text-align: left;

    margin:0.31rem ;

    padding-left: 3.1rem;

    background-color: peru;

    text-transform: uppercase;
}


.main-footer div:nth-child(2){

    width: 30%;
    
    background-color: cyan;

    display: flex;

    flex-direction: column;

    align-items: left;

    justify-content: left;

    border: 0.2rem solid black;

    margin-right:0.0625rem;

    margin-left: 0.0625rem;
}

.main-footer div:nth-child(2) h3{

    font-size: 1.56rem;

    text-transform:uppercase ;

    text-align: center;

}

.main-footer div:nth-child(2) ul{

    margin: 0;

    padding: 0;
}

.main-footer div:nth-child(2) ul li{

    list-style: none;

    padding: 0.31rem;

    font-size: 1.25rem;
}

/*fin main footer*/


/*comienzo main promo*/

main section:nth-child(4) > div:nth-child(1){

    margin-top: 0.625rem;

    background-color: seagreen;

    display: flex;

    justify-content: center;

    align-items: center;
}

main section:nth-child(4) > div:nth-child(1) > h2{

background-color: chocolate;

font-size: 2.5rem;

}

main section:nth-child(4) > div:nth-child(1) > figure {

    background-color: crimson;

    width: 20%;


}


main section:nth-child(4) > div:nth-child(1) > figure >img{

max-inline-size: 100%;

height: auto;

border-radius: 50%;

vertical-align: middle;
}


.contenedor{

background-color: slategray;

}


.row{

    display: flex;

    justify-content: center;

    background-color: sienna;

    width: 60%;

    margin: auto;

}

.col-1{

    width: 40%;
    
    border-left: 0.0625rem solid black ;

    border-bottom: 0.0625rem solid black ;

    border-top: 0.0625rem solid black ;

    background-color: springgreen;

}


.col-2{
    
    width: 40%;
     

    border-right:0.0625rem  solid black ;

    border-left: 0.0625rem solid black ;

    border-bottom: 0.0625rem solid black ;

    border-top: 0.0625rem solid black ;

    background-color: teal;
    
}


.col-1 div:nth-child(1){

    background-color: chartreuse;

}


.col-1 div:nth-child(2){

    margin: 0;

    background-color: chartreuse;
}


.col-1 div,.col-2 div{

    position: relative;
    
    text-align: center;
}


 .uno{

    background-color: blueviolet;

    position: absolute;

    top:50%;

    left: 10%;

    transform: translate(-10%,-50%);

    border-radius: 50%;

    width: 3.125rem;

    font-size: 2.5rem;
}


 .dos{

    display: block;

    text-align:right;

    font-size: 1.56rem;

    margin-right: 0.625rem;
}


/*fin main promo*/


/*FIN MAIN*/


/*COMINZO FOOTER*/

footer section{

    display: flex;

    margin-top: 0.625rem;
}


footer section div:nth-child(1){

    width: 80%;

    text-align: center;

    font-size: 3.125rem;

    background-color: darkmagenta;
}

footer section div:nth-child(1) h2{

    background-color: darkorange;

    margin: 0;

    padding: 0.93rem;

    vertical-align: middle;
}

/*comienzo iconos*/

footer section nav{

    background-color: darksalmon;

    width: 20%;

    display: flex;

    justify-content: flex-end;
    
    align-items: center;
}

footer section nav ul {

 background-color: firebrick;
 
 padding: 0px;

 display: flex;

 flex-direction: column;

 align-items: flex-end;
 

}



footer section nav ul li{

    list-style: none;

   background-color: deeppink;

   padding: 0.625rem;

   transition: all 1s;

}




footer section nav ul li a{

  text-decoration: none;

}


footer section nav ul li span{

    font-size: 3.125rem;
    
}

footer section nav ul li:nth-child(1) a span{

    font-size: 3.62rem;
}

footer section nav ul li:nth-child(1){

    border-top-left-radius: 1.25rem;

}

footer section nav ul li:nth-child(3){

    border-bottom-left-radius: 1.25rem;

}



footer section nav ul li:hover{

    padding-right: 1.87rem;
}


footer section nav ul li:nth-child(1):hover{

    border-bottom-left-radius: 1.25rem;

}

footer section nav ul li:nth-child(2):hover{

    border-top-left-radius: 1.25rem;

    border-bottom-left-radius: 1.25rem;

}

footer section nav ul li:nth-child(3):hover{

    border-top-left-radius: 1.25rem;

}

/*fin iconos*/


/*FIN FOOTER*/



/*COMIENZO  MEDIA QUERIES*/





/*FIN  MEDIA QUERIES*/